{% extends "layout.nunjucks.html" %}


{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/bieke-website/project-header.jpg" alt="Welcome Fries" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title">
                    Biekedejonghe.be
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('projects')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                Together with Bieke, we created a website to boost her business. The goal was to lower the hurdle for potential clients to make an appointment and to boost work inquiries.
                <br><br>
                Our goal was a simple, no-nonses and easy-to-use website.
            </p>

            <figure class="project__visuals">
                <img src="/dist/img/projects/bieke-website/visual-12.jpg" alt="" class="project__visuals__item">
            </figure>

            <!-- Responsive -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Performs everywhere
                </span>
            </h2>

            <p class="project__text">
                The site has a mobile-first attitude. This ensures the focuses on a no-nonsens and blazing fast experience.
            </p>

            <figure class="project__visuals">
                <img data-original="/dist/img/projects/bieke-website/visual-14.jpg" alt="" width="2000" height="2469" class="js-lazyload-img project__visuals__item project__visuals__item--max">
            </figure>
            <figure class="project__visuals project__visuals--grey">
                <img data-original="/dist/img/projects/bieke-website/visual-11.png" alt="" width="945" height="1195" class="js-lazyload-img project__visuals__item project__visuals__item--max">
            </figure>


            <!-- CMS -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Simple content management with Perch CMS
                </span>
            </h2>

            <p class="project__text">
                By using the low-profile Perch CMS, the site is very easy to maintain and ajdust while keeping the site fast.
            </p>

            <figure class="project__visuals">
                <img data-original="/dist/img/projects/bieke-website/visual-13.jpg" width="1981" height="1207" alt="" class="js-lazyload-img project__visuals__item">
            </figure>

            <p class="project__text">
                You can see more at <a href="https://biekedejonghe.be" target="_blank">biekedejonghe.be</a>
            </p>
        </article>
    </main>
{% endblock %}


{% block footer %}
<footer class="project__footer">
    <a href="/dist/projects/welcome-fries/" class="project__footer__link">
        <h2 class="project__footer__title">
            <small class="project__footer__title__sm">View next project</small>
            Welcome Fries
        </h2>
    </a>
</footer>
{% endblock %}
