{% set lang = "en" %}
{% set pageTitle = "Biekedejonghe.be - Projects - " %}
{% set pageTeaser = "Together with Bieke, we created a website to boost her business. The goal was to lower the hurdle for potential clients to make an appointment and to boost work inquiries." %}

{% extends "layout.nunjucks.html" %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/nl/projecten/website-bieke-dejonghe/" class="lang-nav__link">
            nl
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header page-header--bieke">
        <div id="scroll-header-caption" class="page-header__caption">
            <h1 class="page-header__caption__title">
                Biekedejonghe.be
            </h1>
        </div>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                Together with Bieke, we created a website to boost her business. The goal was to lower the hurdle for potential clients to make an appointment and to boost work inquiries.
                <br><br>
                Our goal was a simple, no-nonses and easy-to-use website.
            </p>

            <figure class="project__visuals">
                <img src="/assets/img/projects/bieke-website/visual-12.jpg" alt="Website Bieke Dejonghe - Anata Creative" title="Website Bieke Dejonghe - Anata Creative" class="project__visuals__item">
            </figure>

            <!-- Responsive -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Performs everywhere
                </span>
            </h2>

            <p class="project__text">
                The site has a mobile-first attitude. This ensures the focuses on a no-nonsens and blazing fast experience.
            </p>

            <figure class="project__visuals">
                <img src="/assets/img/projects/bieke-website/visual-14.jpg" alt="Website Bieke Dejonghe - Anata Creative" title="Website Bieke Dejonghe - Anata Creative" width="2000" height="2469" class="js-lazyload-img project__visuals__item project__visuals__item--max">
            </figure>
            <figure class="project__visuals project__visuals--grey">
                <img src="/assets/img/projects/bieke-website/visual-11.png" alt="Website Bieke Dejonghe - Anata Creative" title="Website Bieke Dejonghe - Anata Creative" width="945" height="1195" class="js-lazyload-img project__visuals__item project__visuals__item--max">
            </figure>


            <!-- CMS -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Simple content management with Perch CMS
                </span>
            </h2>

            <p class="project__text">
                By using the low-profile Perch CMS, the site is easy to maintain while keeping it blazing fast.
            </p>

            <figure class="project__visuals">
                <img src="/assets/img/projects/bieke-website/visual-13.jpg" width="1981" height="1207" alt="Website Bieke Dejonghe - Anata Creative" title="Website Bieke Dejonghe - Anata Creative" class="js-lazyload-img project__visuals__item">
            </figure>

            <p class="project__text">
                You can see more at <a href="http://biekedejonghe.be" target="_blank">biekedejonghe.be</a>
            </p>
        </article>
    </main>
{% endblock %}


{% block footer %}
<footer class="project__footer">
    <a href="/projects/ksa-t-vlinderke/" class="js-internal-link project__footer__link">
        <h2 class="project__footer__title">
            <small class="project__footer__title__sm">View next project</small>
            KSA &lsquo;t Vlinderke
        </h2>
    </a>
</footer>
{% endblock %}
