{% extends "layout.nunjucks.html" %}

{% block pagetitle %}Projects - {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img sizes="100vw" srcset="/dist/img/projects/header.jpg 700w, /dist/img/projects/header.jpg 1400w" alt="Projects" id="scroll-header-img" class="page-header__img">
            <!-- <img sizes="100vw" srcset="https://unsplash.it/g/700/220/?gravity=center&random 700w, https://unsplash.it/g/1400/400/?gravity=center&random 1400w" alt="Projects" id="scroll-header-img" class="page-header__img"> -->
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('projects')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="projects">
            <p class="intro intro--center">
                We love to make something unique.<br> Take a peak at our work.
            </p>

            {% include 'partials/projects/website-bieke.nunjucks.html' %}
            {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
            {% include 'partials/projects/ksa-tvlinderke.nunjucks.html' %}

            <h2 class="sub-title sub-title--lg">
                <span class="sub-title__text">Internal projects</span>
            </h2>

            {% include 'partials/projects/signingup.nunjucks.html' %}
            {% include 'partials/projects/marsonia.nunjucks.html' %}
        </article>
    </main>
{% endblock %}


{% block footer %}

{% endblock %}
