{% set lang = "en" %}
{% set pageTitle = "Projects - " %}
{% set pageTeaser = "We love to make something unique. Take a peak at our work." %}

{% extends "layout.nunjucks.html" %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/nl/projecten/" class="lang-nav__link lang-nav__link--dark">
            nl
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header page-header--projects">
        <div id="scroll-header-caption" class="page-header__caption">
            <h1 class="page-header__caption__title">
                Projects
            </h1>
        </div>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="projects">
            <p class="intro intro--center">
                We love to make something unique.<br> Take a peak at our work.
            </p>

            {% include 'partials/projects/website-bieke.nunjucks.html' %}
            {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
            {% include 'partials/projects/ksa-tvlinderke.nunjucks.html' %}

            <h2 class="sub-title sub-title--lg">
                <span class="sub-title__text">Internal projects</span>
            </h2>

            {% include 'partials/projects/signingup.nunjucks.html' %}
            {% include 'partials/projects/marsonia.nunjucks.html' %}
        </article>
    </main>
{% endblock %}


{% block footer %}

{% endblock %}
