{% extends "layout.nunjucks.html" %}

{% block pagetitle %}Contact - {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/contact/header.jpg" alt="Contact" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title page-header__caption__title--shadow">
                    Contact
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('contact')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="contact">
            <header>
                <h2 class="intro intro--center contact__intro">
                    Hi there, <br>
                    Let’s create something beautiful together!
                </h2>
            </header>

            <dl class="contact__info">
                <dt class="contact__info__title">
                    Email
                </dt>
                <dd class="contact__info__details">
                    <a href="mailto:info@anatacreative.com" class="contact__info__details__link">
                        info@anatacreative.com
                    </a>
                </dd>

                <dt class="contact__info__title">
                    Twitter
                </dt>
                <dd class="contact__info__details">
                    <a href="https://twitter.com/AnataCreative" class="contact__info__details__link">
                        @AnataCreative
                    </a>
                </dd>

                <dt class="contact__info__title">
                    Facebook
                </dt>
                <dd class="contact__info__details">
                    <a href="https://www.facebook.com/anatacreative" class="contact__info__details__link">
                        Anata Creative
                    </a>
                </dd>
        </article>
    </main>
{% endblock %}
