{% extends "layout.nunjucks.html" %}

{% set lang = "nl" %}

{% block pagetitle %}KSA &lsquo;t Vlinderke - Projecten - {% endblock %}
{% block pageteaser %}We hebben het gelukt gehad om lang deel uit te maken van deze prachtige jeugdbeweging. Deze verdiende vanzelfsprekend een mooie en vrolijke website!{% endblock %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/projects/ksa-t-vlinderke/" class="lang-nav__link">
            en
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/ksa-tvlinderke/project-header.jpg" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title">
                    KSA &lsquo;t Vlinderke
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                We hebben het geluk gehad om lang deel uit te maken van deze prachtige jeugdbeweging. Deze verdiende dan vanzelfsprekend, een mooie en vrolijke website! 
            </p>

            <!-- Pics -->
            <figure class="project__visuals">
                <img src="/dist/img/projects/ksa-tvlinderke/visual-1.jpg" width="1920" height="1080" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="project__visuals__item">
            </figure>


            <!-- Responsive -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Werkt overal
                </span>
            </h2>

            <p class="project__text">
                Wij zorgen er ook voor dat uw website responsive is. Dit betekent dat deze op alle mogelijke schermen (zowel voor grote computerschermen als een smartphone of tablet) in een automatisch aangepast formaat, netjes wordt weergegeven.
            </p>

            <figure class="project__visuals">
                <img src="/dist/img/projects/ksa-tvlinderke/visual-3.jpg" width="1981" height="1207" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="js-lazyload-img project__visuals__item">
            </figure>

            <figure class="project__visuals project__visuals--grey">
                <img src="/dist/img/projects/ksa-tvlinderke/visual-2.png" width="2000" height="2469" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="js-lazyload-img project__visuals__item project__visuals__item--max">
            </figure>


            <!-- CMS -->
            <h2 class="sub-title">
                <span class="sub-title__text">
                    Zeer gemakkelijk te beheren via Perch CMS
                </span>
            </h2>

            <p class="project__text">
                Door gebruik te maken van het lichte Perch CMS, is de site zeer gemakkelijk zelf te beheren terwijl hij supersnel blijft.
            </p>

            <figure class="project__visuals">
                <img src="/dist/img/projects/ksa-tvlinderke/visual-4.jpg" width="1981" height="1207" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="js-lazyload-img project__visuals__item">
            </figure>

            <!-- Link -->
            <p class="project__text">
                Bekijk het project op <a href="http://ksatvlinderke.be" target="_blank">ksatvlinderke.be</a>
            </p>
        </article>
    </main>
{% endblock %}


{% block footer %}
    <footer class="project__footer">
        <a href="/nl/projecten/website-bieke-dejonghe/" class="project__footer__link">
            <h2 class="project__footer__title">
                <small class="project__footer__title__sm">Ontdek het volgende project</small>
                Biekedejonghe.be
            </h2>
        </a>
    </footer>
{% endblock %}
