/* ==========================================================================
   Full logo
   ========================================================================== */

/* General
   ========================================================================== */
.full-logo {
    opacity: 0;
    animation: anata-all 1.5s linear forwards .2s;
}



/* Anata
   ========================================================================== */
.full-logo__anata {

}

.full-logo__path {
    stroke: #fff;
}

.full-logo__anata__path--a-1 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-a-1 1.5s linear forwards;
}

.full-logo__anata__path--n {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards .8s;
}

.full-logo__anata__path--a-2 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.2s;
}

.full-logo__anata__path--t {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.4s;
}

.full-logo__anata__path--a-3 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.6s;
}



/* Creative
   ========================================================================== */
.full-logo__creative {
    opacity: 0;
    transform: translate3d(0, 60%, 0);

    animation: anata-creative 2s ease both 1.2s;
}

.full-logo__creative__path {
    fill: #fff;
}



/* Keyframes
   ========================================================================== */
@keyframes anata-all {
    0% {
        opacity: 0;
        transform: translate3d(0, 8px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes anata-a-1 {
    0% {
        stroke-width: 20;
        stroke-dashoffset: 2600;
    }

   14% {
        stroke-width: 20;
   }

   15% {
        stroke-width: 40;
   }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes anata-other-letters {
    0% {
        stroke-dashoffset: 2600;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes anata-creative {
    0% {
        opacity: 0;
        transform: translate3d(0, 60%, 0);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
