/* ==========================================================================
   Home Header
   ========================================================================== */

/* General
   ========================================================================== */
.home-header {
    overflow: hidden;

    background: $black;

    @include media-breakpoint-up(sm) {
        height: rem-calc(460);
    }

    @include media-breakpoint-up(md) {
        height: rem-calc(560);
    }
}



/* Title
   ========================================================================== */
.home-header__title {
    padding: 2em 0 1em;
    margin: 0;
}

.home-header__title__logo {
    max-width: rem-calc(160);
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        max-width: rem-calc(190);
    }
}
