/* ==========================================================================
   Opportunities
   ========================================================================== */


/* General
   ========================================================================== */
.opportunities {
    z-index: 1;
    position: relative;

    width: 90%;
    max-width: rem-calc(680);
    margin: 4rem auto 10rem;

    background: $white;
}
