/* ==========================================================================
   Page header
   ========================================================================== */


/* General
   ========================================================================== */
.page-header {
    position: relative;
    height: rem-calc(400);

    overflow: hidden;

    // background: $black;
    background: #030306;
}

.page-header--contact {

    .page-header__img {
        left: auto;
        right: 0;

        transform: translate3d(0, 0, 0);
    }
}



/* Image
   ========================================================================== */
.page-header__img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;

    display: block;
    width: auto;
    height: 100%;
    max-width: none;
    max-height: none;

    transform: translate3d(-50%, 0, 0);
}



/* Title
   ========================================================================== */
.page-header__title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    margin: 0;
    padding: 0 rem-calc(20);

    font-size: rem-calc(30);
    line-height: 1.2;
    text-align: center;
    color: $white;

    transform: translate3d(-50%, -50%, 0);

    @include media-breakpoint-up(sm) {
        font-size: rem-calc(44);
    }

    @include media-breakpoint-up(md) {
        font-size: rem-calc(72);
    }
}
