/* ==========================================================================
   Blocks - Work items
   ========================================================================== */


/* General
   ========================================================================== */
.work-item {
    position: relative;

    padding: 4em rem-calc(30);

    @include media-breakpoint-up(lg) {
        padding: 6em rem-calc(30);
    }
}



/* Title
   ========================================================================== */
.work-item__title {
    margin: 0 0 2rem;
    max-width: rem-calc(600);

    font-size: rem-calc(32);

    @include media-breakpoint-up(md) {
        margin: 0 0 3rem;
        font-size: rem-calc(36);
    }

    @include media-breakpoint-up(lg) {
        max-width: rem-calc(800);

        font-size: rem-calc(48);
    }
}



/* Intro
   ========================================================================== */
.work-item__intro {
    margin: 0 0 2rem;

    font-size: rem-calc(20);

    @include media-breakpoint-up(md) {
        margin: 0 0 3rem;
        max-width: rem-calc(500);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(22);
    }
}



/* Link
   ========================================================================== */
.work-item__link {
    display: block;
    padding: .4rem 0;

    font-size: rem-calc(14);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;

    @include media-breakpoint-up(md) {
        display: inline-block;
        margin: 0 2rem 0 0;
    }

    @include media-breakpoint-up(lg) {
        position: relative;

        margin: 0 3rem 0 0;
        font-size: rem-calc(16);

        &:before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            display: block;
            width: 0;
            height: rem-calc(4);

            background: #f5f5f5;

            transition: width .5s ease;
        }

        &:hover, &:focus {

            &:before {
                width: 100%;
            }
        }
    }
}



/* Visual
   ========================================================================== */
.work-item__visual {

    @include media-breakpoint-up(md) {
        position: absolute;
        right: rem-calc(30);
    }
}

.work-item__visual__img {
    width: 100%;
}
