/* ==========================================================================
   Blocks - Buttons
   ========================================================================== */

/* General
   ========================================================================== */
.work-item {
    position: relative;

    display: block;
    height: rem-calc(300);
    margin: 0 0 rem-calc(100);

    overflow: hidden;
}

.work-item--website-bieke {
    background-color: #f3dff7;
}

.work-item--geboortekaartje-fries {
    background-color: #E0FFB0;
}


/* Bg
   ========================================================================== */
.work-item__bg {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;

    opacity: .14;

    pointer-events: none;
}


/* Title
   ========================================================================== */
.work-item__title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: rem-calc(400);
    margin: 0;
    padding: 0 rem-calc(10);

    text-align: center;
    color: $white;

    transform: translate(-50%, -50%);

    @include media-breakpoint-up(md) {
        font-size: rem-calc(30);
    }
}


/* Main Visual
   ========================================================================== */
.work-item__main-visual {
    z-index: 2;
    position: absolute;
    bottom: -#{rem-calc(35)};
    right: rem-calc(80);

    width: auto;
    height: rem-calc(300);
}


/* Details
   ========================================================================== */
.work-item__visuals {
    position: relative;
    z-index: 2;

    opacity: 0;

    // &:after {
    //     content: '';
    //
    //     z-index: 3;
    //     position: absolute;
    //     bottom: -20px;
    //     left: 0;
    //
    //     display: block;
    //     width: 100%;
    //     height: rem-calc(20);
    //
    //     box-shadow: 0 -12px rem-calc(24) rgba(0, 0, 0, .05);
    // }
}

.work-item__visuals__info {
    float: left;
    width: 25%;
    height: auto;
    color: $white;

    padding: 2em;
}

.work-item__visuals__scroll-container {
    position: relative;
    height: rem-calc(0);
    overflow: scroll;
}

.work-item__visuals__item {
    display: block;
    width: 80%;
    max-width: none;

    box-shadow: 0 0 rem-calc(18) rgba(0, 0, 0, .11);

    margin: rem-calc(60) auto;
}


/* Active
   ========================================================================== */
.work-item--active {
    height: rem-calc(500);

    .work-item__main-visual, .work-item__title {
        opacity: 0;
    }

    .work-item__visuals__scroll-container {
        height: rem-calc(500);
    }

    .work-item__visuals {
        opacity: 1;
    }
}
