/* ==========================================================================
   Main Navigation
   ========================================================================== */

/* General
   ========================================================================== */
.main-nav {
    position: relative;

    padding: 0 .5em;
    overflow: hidden;

    text-align: center;

    will-change: transform, opacity;
    transform: translate3d(0, -100%, 0);

    animation: slideNavDown 1s ease;
    animation-fill-mode: both;
}

@keyframes slideNavDown {
    from {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


/* Item
   ========================================================================== */
.main-nav__item {
    display: block;
    padding: 1em;

    color: $grey--text--light;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .6rem;

    transition: color .3s ease;

    &:hover, &:focus {
        color: $black;
    }
}

.main-nav__item--left {
    float: left;
}

.main-nav__item--right {
    float: right;
}

.main-nav__item--active {
    color: $black;
}

.main-nav__item--home {
    display: block;
    width: 1rem;
    margin: 1rem auto .5rem;
    padding: 0;

    opacity: .3;

    transition: opacity .8s ease;

    img {
        display: block;
        width: 1rem;
    }

    &:hover, &:focus {
        opacity: 1;
    }

    @media (min-width: $screen-md) {
        position: absolute;
        top: .5rem;
        left: 50%;

        margin: 0;

        transform: translateX(-50%);
    }
}


/* Dark
   ========================================================================== */
.main-nav__item--dark-bg {
    color: #4C4D59;

    &:hover, &:focus {
        color: $white;
    }
}
