<section class="work-item work-item--geboortekaartje-fries work-item--active">
    <img src="img/general/header.jpg" alt="" class="work-item__bg">

    <header>
        <h2 class="work-item__title">
            Geboortekaartje Fries
        </h2>
    </header>
    <img src="img/projects/geboortekaartje-fries/main-visual.svg" alt="Geboortekaartje Fries" class="work-item__main-visual">

    <figure class="work-item__visuals">
        <figcaption class="work-item__visuals__info">
            <h3>
                Geboortekaartje voor Fries
            </h3>
        </figcaption>
        <!--
            https://github.com/verlok/lazyload#user-content-demos
        -->
        <div class="work-item__visuals__scroll-container">
            <img src="img/projects/geboortekaartje-fries/visual-1.jpg" alt="" class="work-item__visuals__item">
            <img src="img/projects/geboortekaartje-fries/visual-2.jpg" alt="" class="work-item__visuals__item">
            <img src="img/projects/geboortekaartje-fries/visual-3.jpg" alt="" class="work-item__visuals__item">
            <img src="img/projects/geboortekaartje-fries/visual-4.jpg" alt="" class="work-item__visuals__item">
            <img src="img/projects/geboortekaartje-fries/visual-5.jpg" alt="" class="work-item__visuals__item">
        </div>
    </figure>
</section>
