<section class="work-item work-item--geboorte-fries">
    <header>
        <h2 class="work-item__title">
            De geboorte van Fries
        </h2>
    </header>

    <p class="work-item__intro">
        Nunc non sollicitudin dui, vel facilisis mi. Sed imperdiet at purus ac commodo. Duis non nisl ultrices, efficitur lorem id, dapibus ipsum. Praesent sed tempor neque, sed porta tellus.
    </p>

    <nav>
        <a href="#modal-geboorte-fries" class="js-modal-link work-item__link">
            Bekijk meer
        </a>
    </nav>

    <figure class="work-item__visual">
        <img src="img/projects/geboorte-fries/main-visual.svg" alt="" class="work-item__visual__img">
    </figure>

    <div id="modal-geboorte-fries" class="modal">
        <figure class="modal__visuals">
            <figcaption class="modal__visuals__title work-item__modal-title">
                De geboorte van Fries
            </figcaption>

            <img src="img/projects/geboorte-fries/visual-1.jpg" alt="" class="modal__visuals__item">
            <img src="img/projects/geboorte-fries/visual-2.jpg" alt="" class="modal__visuals__item">
            <img src="img/projects/geboorte-fries/visual-3.jpg" alt="" class="modal__visuals__item">
            <img src="img/projects/geboorte-fries/visual-4.jpg" alt="" class="modal__visuals__item">
            <img src="img/projects/geboorte-fries/visual-5.jpg" alt="" class="modal__visuals__item">
        </figure>
    </div>
</section>
