<section class="work-item work-item--website-bieke">
    <img src="img/general/header.jpg" alt="" class="work-item__bg">

    <header>
        <h2 class="work-item__title">
            Biekedejonghe.be
        </h2>
    </header>
    <img src="img/projects/bieke-website/main-visual.png" alt="Biekedejonghe.be" class="work-item__main-visual">

    <div class="work-item__details">
        <div class="work-item__details__info">
            <h3>
                Maatwerk &amp; Retouches Bieke Dejonghe
            </h3>
        </div>
        <figure class="work-item__visuals">
            <!--
                https://github.com/verlok/lazyload#user-content-demos
            -->
            <img src="img/projects/bieke-website/visual-1.jpg" alt="" class=""="work-item__visuals__item">
            <img src="img/projects/bieke-website/visual-2.jpg" alt="" class=""="work-item__visuals__item">
            <img src="img/projects/bieke-website/visual-3.jpg" alt="" class=""="work-item__visuals__item">
            <img src="img/projects/bieke-website/visual-4.jpg" alt="" class=""="work-item__visuals__item">
            <img src="img/projects/bieke-website/visual-5.jpg" alt="" class=""="work-item__visuals__item">
        </figure>
    </div>
</section>
