<section class="work-item work-item--website-bieke">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                Biekedejonghe.be
            </h2>
        </header>

        <p class="work-item__intro">
            Together with Bieke, we created a website to boost her business. The goal is to lower the hurdle for potential clients to make an appointment and to boost work inquiries.
        </p>

        <nav>
            <a href="/dist/work/website-bieke-dejonghe/" class="work-item__link">
                View full case
            </a>
            <a href="https://biekedejonghe.be" class="work-item__link" target="_blank">
                View website
            </a>
        </nav>

        <figure class="work-item__visual">
            <img src="/dist/img/projects/bieke-website/main-visual.png" alt="Iphone met daarop de website voor Bieke Dejonghe, Maatwerk &amp; Retouches" class="work-item__visual__img">
        </figure>
    </div>
</section>
