{% set lang = "en" %}
{% set pageTitle = "" %}
{% set pageTeaser = "We are a small creative agency that crafts beautiful websites and awesome illustrations. We listen. We understand. We care." %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('home','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <!-- Intro -->
        <p class="intro">
            You seem to be lost. Nothing here. Please go to the <a href="/">homepage</a> to get you started.
        </p>
    </main>
{% endblock %}
