{% extends "layout.nunjucks.html" %}

{% block pagetitle %}{% endblock %}

{% block header %}
    <!-- Header -->
    {% include 'partials/home/header.nunjucks.html' %}

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('home')}}
{% endblock %}


{% block content %}
    <main role="main">
        <!-- Intro -->
        {% include 'partials/home/intro.nunjucks.html' %}

        <!-- Projects -->
        {% include 'partials/projects/website-bieke.nunjucks.html' %}
        {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
    </main>
{% endblock %}


{% block footer %}
    <footer class="home-footer">
        <a href="/projects/" class="home-footer__link">
            View all projects
        </a>
    </footer>
{% endblock %}
