{% set lang = "en" %}
{% set homepage = "true" %}
{% set pageTitle = "" %}
{% set pageTeaser = "We are a small creative agency that crafts beautiful websites and awesome illustrations. We listen. We understand. We care." %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('home','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <!-- Intro -->
        {% include 'partials/home/intro.nunjucks.html' %}

        <!-- Projects -->
        {% include 'partials/projects/website-bieke.nunjucks.html' %}
        {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
    </main>
{% endblock %}


{% block footer %}
    <footer class="home-footer">
        <a href="/projects/" class="js-internal-link home-footer__link">
            View all projects
        </a>
    </footer>
{% endblock %}
