{% extends "layout.nunjucks.html" %}

{% block header %}
    <!-- Header -->
    <header class="main-header">
        <img src="img/general/header.jpg" alt="" class="main-header__bg">
        <div class="container main-hader__container">
            <h1 class="main-header__title">
                Our work
            </h1>
        </div>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('work')}}
{% endblock %}


{% block content %}
    <main role="main">
        {% include 'partials/work/website-bieke.nunjucks.html' %}
        {% include 'partials/work/geboortekaartje-fries.nunjucks.html' %}
    </main>
{% endblock %}
