/* ==========================================================================
   Anata Logo
   ========================================================================== */

/* General
   ========================================================================== */
//.anata {}


/* Paths & Animations
   ========================================================================== */
.anata-path {
    stroke: #fff;
}

.anata-path--a-1 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-a-1 1.5s linear forwards;
}

@keyframes anata-a-1 {
    0% {
        stroke-width: 20;
        stroke-dashoffset: 2600;
    }

   14% {
        stroke-width: 20;
   }

   15% {
        stroke-width: 40;
   }

    100% {
        stroke-dashoffset: 0;
    }
}


.anata-path--n {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards .8s;
}


.anata-path--a-2 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.1s;
}


.anata-path--t {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.3s;
}


.anata-path--a-3 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    stroke-width: 40;
    animation: anata-other-letters 1.5s linear forwards 1.6s;
}

@keyframes anata-other-letters {
    0% {
        stroke-dashoffset: 2600;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


/* Creative Paths & Animation
   ========================================================================== */
.anata-creative {
    opacity: 0;
    transform: translate3d(0, 60%, 0);

    animation: anata-creative 2s ease both 1.4s;
}

@keyframes anata-creative {
    0% {
        opacity: 0;
        transform: translate3d(0, 60%, 0);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.anata-creative__path {
    fill: #fff;
}
