/* ==========================================================================
   Blog - Header
   ========================================================================== */

.blog {

}


/* General
   ========================================================================== */
.blog__header {
    display: flex;
    align-items: center;

    height: rem-calc(360);
    margin: -#{rem-calc(80)} 0 rem-calc(20);

    background: #f2b65f;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);

    @media (min-width: $screen-md) {
        height: 96vh;
        margin: -#{rem-calc(40)} 0 rem-calc(40);
    }
}


/* Head
   ========================================================================== */
.blog__header__head {
    display: block;
    width: 100%;
    padding: 0 2rem;
    margin-top: -5vh;

    text-align: center;
    color: $white;

    @media (min-width: $screen-md) {
        margin-top: -15vh;

        font-size: 5vw;
    }
}

.blog__header__head--ani-in {
    will-change: transform, opacity;
    transform: translate3d(0, 1rem, 0);

    animation: slideInArticle 2s ease;
    animation-fill-mode: both;
}


/* Scroll
   ========================================================================== */
.blog__header__scroll {
    z-index: 10;
    position: absolute;
    bottom: rem-calc(34);
    left: 0;

    transform: translateX(-50%);

    display: none;
    width: 100%;

    animation: slideInArticle 2s ease;
    animation-fill-mode: both;

    &::after {
        content: '';

        position: absolute;
        bottom: -#{rem-calc(34)};
        left: calc(50% - 1px);

        display: block;
        width: rem-calc(3);
        height: rem-calc(24);

        background: $white;
    }

    @media (min-width: $screen-md) {
        display: block;
    }
}

.blog__header__scroll__img {
    display: block;
    margin: 0 auto;
    width: rem-calc(18);
}



/* Codepen embed
   ========================================================================== */
.blog__codepen-embed {
    margin: 4rem 0;
    background: #eee;

    .codepen {
        padding: 2em;
        text-align: center;
        color: #bbb;

        a {
            color: #bbb;
        }
    }
}
