/* ==========================================================================
   Body
   ========================================================================== */

.body--black {
    background: $black;
}

.body--green {
    background: #92E4B8;
    color: $white;

    h1, h2 {
        color: $white;
    }
}
