/* ==========================================================================
   Home Container
   ========================================================================== */

/* General
   ========================================================================== */
.home-container {
    width: 100vw;
    height: 100vh;

    background: $black;
}
