/* ==========================================================================
   Home Container
   ========================================================================== */

/* General
   ========================================================================== */
.home-container {
    background: $black;
}


/* Logo
   ========================================================================== */
.home-container__logo {
    z-index: 100;
    position: absolute;
    top: 50vh;
    left: 50%;

    display: block;
    margin: 0;
    width: 10rem;

    opacity: 0;

    transform: translate3d(-50%, -50%, 0);

    will-change: transform, opacity;

    animation: slideInLogo 3s ease;
    animation-fill-mode: both;
}

@keyframes slideInLogo {
    from {
        transform: translate3d(-50%, -45%, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}

.home-container__logo__img, .home-container__logo__img--creative {
    display: block;
    width: 100%;
}

.home-container__logo__img--creative {
    margin-top: 1.5rem;
}
