/* ==========================================================================
   Particle Js
   ========================================================================== */

/* General
   ========================================================================== */
.particles-js-canvas-el {
    opacity: 0;

    transition: opacity 3s ease;
}


/* Ready state
   ========================================================================== */
.particles-js-ready {

    .particles-js-canvas-el {
        opacity: 1;
    }
}
