/* ==========================================================================
   Project Link
   ========================================================================== */

.project-link {
    display: block;
    padding: 1em 1.5em;
    margin: 0 0 2rem;

    text-decoration: none;
    text-align: left;
    font-size: rem-calc(24);
}


.project-link--bieke {
    background: #dfcae0;
    color: #fff;

    transition: background .3s ease;

    &:hover, &:focus {
        color: #fff;
        background: darken(#dfcae0, 10%);
    }
}
