/* ==========================================================================
   Projects Stuff
   ========================================================================== */

.project__header {
    height: 100%;
    margin: -#{rem-calc(90)} 0 rem-calc(20);
    padding: rem-calc(140) 0 0;

    background: $black;

    @media (min-width: $screen-md) {
        padding: rem-calc(100) 0 0;
        margin: -#{rem-calc(40)} 0 rem-calc(20);
    }
}

.project__header--bieke {
    background: #dfcae0;
}

.project__header__fig {
    display: block;
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
    background: $white;
    border-radius: .5vw .5vw 0 0;
    overflow: hidden;
}

.project__header__fig__img {
    display: block;
    width: 100%;
    margin: 0;
    background: $white;
}


.project__intro {
    margin: 2rem auto;
}

.project__intro__header {
    margin: 4rem 0 2rem;
}

.project__intro__text {
    margin: 0 0 1rem;
}



.project__img {
    position: relative;

    display: block;
    width: 100%;
    margin: 11rem auto 0;
    padding: 2em;

    &:before {
        content: '';

        position: absolute;
        top: -8rem;
        left: 50%;

        display: block;
        width: 1px;
        height: 5rem;

        background: #ddd;
        margin: 0 auto;
    }

    @media (min-width: $screen-md) {
        padding: 4em;
    }
}

.project__img__asset {
    display: block;
    margin: 0 auto;
}

.project__img__asset--mobile {
    width: 60%;
    max-width: 20rem;
}

.project__img--bieke {
    background: #dfcae0;
}

.project__link {
    position: relative;

    display: inline-block;
    width: auto;
    margin: 7rem auto 10rem;
    padding: 1em 2em;

    text-transform: uppercase;
    text-decoration: none;

    &:before {
        content: '';

        position: absolute;
        top: -5rem;
        left: 50%;

        display: block;
        width: 1px;
        height: 3rem;

        background: #ddd;
        margin: 0 auto;
    }
}

.project__link--bieke {

    background: #dfcae0;
    color: #fff;

    transition: background .3s ease;

    &:hover, &:focus {
        color: #fff;
        background: darken(#dfcae0, 10%);
    }
}
