/* ==========================================================================
   Base Typography
   ========================================================================== */


* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

html, body {
    font-family: $font-family--base;
    line-height: $line-height--base;
    color: $black;
}

html {
    font-size: calc(#{$text-size--base} + .2vh + .2vw);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
