{% set lang = "en" %}
{% set pageTitle = "About - " %}
{% set pageTeaser = "Anata Creative is a small and young creative agency propelled by craftsmanship and engagement." %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('about','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <header>
            <h1 class="page-header">
                About
            </h1>
        </header>
        <article class="contact">
            <!-- Intro -->
            <header>
                <h2 class="intro contact__intro">
                    Anata Creative is a small and young creative agency propelled by craftsmanship and engagement.
                </h2>
            </header>

            <!-- About -->
            <section class="row">
                <div class="col col--md-6 about-item">
                    <figure>
                        <img src="/assets/img/about/code.svg" alt="Illustration" class="about-item__fig">
                    </figure>
                    <h2 class="about-item__title">
                        Web
                        <small class="about-item__title__sm">
                            Web development - Web design - User experience
                        </small>
                    </h2>
                    <p class="about-item__info about-item__info--lg">
                        No default templates, but a website build purely around you and your project.
                        We build state of the art responsive websites with a profound eye for detail, performance and functionality.
                    </p>
                </div>
                <div class="col col--md-6 about-item">
                    <figure>
                        <img src="/assets/img/about/illustration.svg" alt="Illustration" class="about-item__fig">
                    </figure>
                    <h2 class="about-item__title">
                        Illustration
                        <small class="about-item__title__sm">
                            Character design - Print - Digital - Typography
                        </small>
                    </h2>
                    <p class="about-item__info about-item__info--lg">
                        From a personal birthday card to a birth announcement, we got the artistic talent to make it happen. Our home artist has master skills in character design and typography and will make that image in your head become reality.
                    </p>
                </div>
            </section>

            <!-- About -->
            <section>
                <!-- Title -->
                <h2 class="sub-title">
                    <span class="sub-title__text">
                        Strengths
                    </span>
                </h2>

                <div class="row">
                    <div class="col col--md-4 about-item">
                        <figure>
                            <img src="/assets/img/about/mug.gif" alt="Mug icon" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title about-item__title--sm">
                            Personal
                        </h2>
                        <p class="about-item__info">
                            Personal contact with the client is very important to us.
                            Together we will take a look at your wishes and options.
                            We love to have a chat with you and provide you with an informal offer.
                        </p>
                    </div>
                    <div class="col col--md-4 about-item">
                        <figure>
                            <img src="/assets/img/about/ear.gif" alt="Ear icon" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title about-item__title--sm">
                            Listening ear
                        </h2>
                        <p class="about-item__info">
                            Listening to the client is the key point of our approach. What are your goals?
                            What makes your business unique? Witch new online trends will be beneficial to your business?
                            We will make your challenges concrete and work with them.
                        </p>
                    </div>
                    <div class="col col--md-4 about-item">
                        <figure>
                            <img src="/assets/img/about/money.gif" alt="Money icon" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title about-item__title--sm">
                            Value for money
                        </h2>
                        <p class="about-item__info">
                            A personal approach does not equal an expensive approach.
                            Quite the opposite, together we'll take a look at the full cost and we'll make sure you only pay for what you really need.
                            This way, you don't spend more money than necessary. Value for money, as they say.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Contact -->
            <section class="opportunities">
                <form action="//formspree.io/info@anatacreative.com" method="POST" id="form" class="form">
                    <header>
                        <h2 class="form__title">
                            <small class="form__title__sm">
                                Discover your
                            </small>
                            Opportunities
                        </h2>
                        <p class="form__intro">
                            Have a project in mind? Want to improve your current website or just build a new one? Let us know below and discover your opportunities.
                        </p>
                    </header>

                    <div class="form__content">
                        <div class="row row--full">
                            <div class="col col--md-6 form-control">
                                <label for="input-name" class="form-control__label">
                                    Name *
                                </label>
                                <input type="text" id="input-name" name="name" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                            <div class="col col--md-6 form-control">
                                <label for="input-email" class="form-control__label">
                                    Email *
                                </label>
                                <input type="email" id="input-email" name="email" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                        </div>

                        <div class="form-control">
                            <label for="input-message" class="form-control__label">
                                Message *
                            </label>
                            <textarea name="message" id="input-message" class="js-form-input form-control__input form-control__input--textarea" required></textarea>
                            <span class="form-control__indicator"></span>
                        </div>

                        <input type="text" name="_gotcha" class="form__hidden" placeholder="don't fill in this field!">
                        <input type="hidden" name="_next" value="//anatacreative.com/thanks/" class="form__hidden">

                        <div class="form__error">
                            <img src="/assets/img/about/sad.svg" alt="Sad Man" class="form__error__icon">
                            Whoops, something went wrong. Could you try that again please?
                        </div>

                        <div class="form__submit">
                            <button type="submit" id="form-submit" class="submit-btn">
                                <span class="submit-btn__txt">Send</span>
                                <span class="submit-btn__txt-sending">Sending...</span>
                            </button>
                        </div>
                    </div>
                    <div class="form__success">
                        <img src="/assets/img/about/happy.svg" alt="Happy Man" class="form__success__icon">
                        <h2 class="form__success__title">
                            Thanks!
                        </h2>
                        <p class="form__success__txt">
                            Awesome! We will get back to you as soon as we can.
                        </p>
                    </div>
                </form>
            </section>

        </article>
    </main>
{% endblock %}
