{% extends "layout.nunjucks.html" %}

{% block pagetitle %}About - {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/about/header.jpg" alt="About" id="scroll-header-img" class="page-header__img">
            {# <!--
                <img sizes="100vw" srcset="https://unsplash.it/g/700/220/?gravity=center&random 700w, https://unsplash.it/g/1400/400/?gravity=center&random 1400w" alt="Projects" id="scroll-header-img" class="page-header__img">
            --> #}
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title page-header__caption__title--shadow">
                    About
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('about')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="contact">
            <!-- Intro -->
            <header>
                <h2 class="intro contact__intro">
                    Anata Creative is a small and young creative agency propelled by craftsmanship and engagement.
                </h2>
            </header>

            <!-- About -->
            <section class="row">
                <div class="col col--md-6">
                    <div class="about-item about-item--code">
                        <figure>
                            <img src="/dist/img/about/code.svg" alt="Illustration" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title">
                            Web
                            <small class="about-item__title__sm">
                                Web development - Web design - User experience
                            </small>
                        </h2>
                        <p class="about-item__info">
                            No default templates, but a website build purely around you and your project.
                            We build state of the art responsive websites with a profound eye for detail, perfomance and functionality.

                        </p>
                    </div>
                </div>
                <div class="col col--md-6">
                    <div class="about-item about-item--illu">
                        <figure>
                            <img src="/dist/img/about/illustration.svg" alt="Illustration" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title">
                            Illustration
                            <small class="about-item__title__sm">
                                Character design - Print - Digital - Typography
                            </small>
                        </h2>
                        <p class="about-item__info">
                            From a personal birthday card to a birth announcement, we got the artistic talent to make it happen.
                            Our home artist has masterskills in character design and typography and will make that image in your head become reality.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Contact -->

            <section class="opportunities">
                <form action="" id="opportunities-form" class="form">
                    <header>
                        <h2 class="form__title">
                            <small class="form__title__sm">
                                Discover your
                            </small>
                            Opportunities
                        </h2>
                        <p class="form__intro">
                            Lorem ipsum dolor sit amet, consectetur adipiscing. Suspendisse eget diam metus. Enim id nulla malesuada posuere vel ut sapien.
                        </p>
                    </header>

                    <div class="row">
                        <div class="col col--md-6 form-control">
                            <label class="form-control__label">
                                Name *
                            </label>
                            <input type="text" class="form-control__input">
                            <span class="form-control__indicator"></span>
                        </div>
                        <div class="col col--md-6 form-control">
                            <label class="form-control__label">
                                Email *
                            </label>
                            <input type="email" class="form-control__input">
                            <span class="form-control__indicator"></span>
                        </div>
                    </div>

                    <div class="form-control">
                        <label class="form-control__label">
                            Current website
                        </label>
                        <input type="text" class="form-control__input" placeholder="http://">
                        <span class="form-control__indicator"></span>
                    </div>

                    <div class="form-control">
                        <label class="form-control__label">
                            Message *
                        </label>
                        <textarea class="form-control__input form-control__input--textarea"></textarea>
                        <span class="form-control__indicator"></span>
                    </div>

                    <div class="form__submit">
                        <button type="submit" class="form__submit__btn">
                            Send
                        </button>
                    </div>
                </form>
            </section>

        </article>
    </main>
{% endblock %}
