{% extends "layout.nunjucks.html" %}


{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/geboorte-fries/project-header.jpg" alt="Welcome Fries" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title">
                    Welcome Fries
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('projects')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!-- Pics -->
            <figure class="project__visuals">
                <img src="/dist/img/projects/geboorte-fries/visual-1.jpg" width="2000" height="1328" alt="" class="project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-2.jpg" width="2000" height="1328" alt="" class="project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-3.jpg" width="2000" height="1328" alt="" class="project__visuals__item">
            </figure>

            <h2 class="project__subtitle">
                <span class="project__subtitle__text">
                    In action
                </span>
            </h2>

            <figure class="project__visuals project__visuals--last">
                <img data-original="/dist/img/projects/geboorte-fries/visual-11.jpg" width="2000" height="1328" alt="" class="js-lazyload-img project__visuals__item">
                <img data-original="/dist/img/projects/geboorte-fries/visual-12.jpg" width="2000" height="1328" alt="" class="js-lazyload-img project__visuals__item">
                <img data-original="/dist/img/projects/geboorte-fries/visual-13.jpg" width="2000" height="1328" alt="" class="js-lazyload-img project__visuals__item">
            </figure>
        </article>
    </main>
{% endblock %}


{% block footer %}
    <footer class="project__footer">
        <a href="/dist/projects/website-bieke-dejonghe/" class="project__footer__link">
            <h2 class="project__footer__title">
                <small class="project__footer__title__sm">View next project</small>
                Biekedejonghe.be
            </h2>
        </a>
    </footer>
{% endblock %}
