{% set lang = "nl" %}
{% set homepage = "true" %}
{% set pageTitle = "" %}
{% set pageTeaser = "Anata Creative is een creatief bureau dat mooie websites en prachtige illustraties maakt. Wij gaan mee in jouw verhaal." %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('home','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <!-- Intro -->
        {% include 'partials/home/intro.nunjucks.html' %}

        <!-- Projects -->
        {% include 'partials/projects/website-bieke.nunjucks.html' %}
        {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
    </main>
{% endblock %}


{% block footer %}
    <footer class="home-footer">
        <a href="projecten/" class="js-nav-link home-footer__link">
            Bekijk alle projecten
        </a>
    </footer>
{% endblock %}
