{% extends "layout.nunjucks.html" %}

{% set lang = "nl" %}

{% block pagetitle %}{% endblock %}
{% block pageteaser %}Anata Creative is een creatief bureau dat mooie websites en illustraties maakt. Wij gaan mee in jouw verhaal.{% endblock %}

{% block header %}
    <!-- Header -->
    {% include 'partials/home/header.nunjucks.html' %}

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('home','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <!-- Intro -->
        {% include 'partials/home/intro.nunjucks.html' %}

        <!-- Projects -->
        {% include 'partials/projects/website-bieke.nunjucks.html' %}
        {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
    </main>
{% endblock %}


{% block footer %}
    <footer class="home-footer">
        <a href="projecten/" class="home-footer__link">
            Bekijk alle projecten
        </a>
    </footer>
{% endblock %}
