/* ==========================================================================
   Main Content
   ========================================================================== */


/* General
   ========================================================================== */
.main-content {
    position: relative;

    overflow: hidden;

    will-change: opacity;
}
