/* ==========================================================================
   Home Header
   ========================================================================== */

/* General
   ========================================================================== */
.home-header {
    overflow: hidden;

    background: #030306;
    height: 0;
    overflow: hidden;
}

.home-header--active {
    height: auto;
}



/* Title
   ========================================================================== */
.home-header__title {
    height: rem-calc(259);
    padding: 2em 0;
    margin: 0;

    @include media-breakpoint-up(sm) {
        height: rem-calc(363);
        padding: 4em 0;
    }

    @include media-breakpoint-up(md) {
        height: rem-calc(483);
        padding: 5em 0;
    }

    @include media-breakpoint-up(lg) {
        height: rem-calc(543);
        padding: 6em 0;
    }
}

.home-header__title__logo {
    max-width: rem-calc(160);
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        max-width: rem-calc(190);
    }
}
