/* ==========================================================================
   Home Header
   ========================================================================== */

/* General
   ========================================================================== */
.home-header {
    position: relative;
    overflow: hidden;

    // background: #030306;
    height: rem-calc(259);
    border-bottom: 1px solid #f5f5f5;

    @include media-breakpoint-up(md) {
        height: calc(100vh - 60px);
    }
}



/* Title
   ========================================================================== */
.home-header__title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    margin: 0;
    padding: 0;

    transform: translate3d(0, -50%, 0);
}

.home-header__title__logo {
    max-width: rem-calc(120);
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        max-width: rem-calc(190);
    }
}
