{% set lang = "nl" %}
{% set pageTitle = "Over ons - " %}
{% set pageTeaser = "Anata Creative is een klein en jong creatief bureau gedreven door vakmanschap en toewijding." %}

{% extends "layout.nunjucks.html" %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/about/" class="lang-nav__link lang-nav__link--dark">
            en
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/assets/img/about/header.jpg" alt="Over ons" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title page-header__caption__title--shadow">
                    Over ons
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('about','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="contact">
            <!-- Intro -->
            <header>
                <h2 class="intro contact__intro">
                    Anata Creative is een klein en jong creatief bureau gedreven door vakmanschap en toewijding.
                </h2>
            </header>

            <!-- About -->
            <section class="row">
                <div class="col col--md-6">
                    <div class="about-item about-item--code">
                        <figure>
                            <img src="/assets/img/about/code.svg" alt="Illustration" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title">
                            Web
                            <small class="about-item__title__sm">
                                Web development - Web design - User experience
                            </small>
                        </h2>
                        <p class="about-item__info about-item__info--lg">
                            Uw website is uw online visitekaartje en dat moet er uiteraard goed uitzien!
                            Geen standaard templates, maar een website die gebouwd is rond u en uw project. Wij bouwen state-of-the-art repsonsive websites met een sterk oog voor detail, snelheid en functionaliteit.
                        </p>
                    </div>
                </div>
                <div class="col col--md-6">
                    <div class="about-item about-item--illu">
                        <figure>
                            <img src="/assets/img/about/illustration.svg" alt="Illustration" class="about-item__fig">
                        </figure>
                        <h2 class="about-item__title">
                            Illustraties
                            <small class="about-item__title__sm">
                                Character design - Print - Digital - Typography
                            </small>
                        </h2>
                        <p class="about-item__info about-item__info--lg">
                            Wil je een persoonlijk geboortekaartje, verjaardagskaart of een huwelijksuitnodiging? Wij hebben het artistiek talent in huis om dat te realiseren. Onze huisartiest heeft zich gespecialiseerd in character design en typography. Hij zal uw droom(kaartje) perfect in realiteit omzetten.
                        </p>
                    </div>
                </div>
            </section>

            <!-- About -->
            <section>
                <!-- Title -->
                <h2 class="sub-title">
                    <span class="sub-title__text">
                        Onze troeven
                    </span>
                </h2>

                <div class="row">
                    <div class="col col--md-4">
                        <div class="about-item about-item--code">
                            <figure>
                                <img src="/assets/img/about/mug.gif" alt="Mug icon" class="about-item__fig">
                            </figure>
                            <h2 class="about-item__title about-item__title--sm">
                                Persoonlijke aanpak
                            </h2>
                            <p class="about-item__info">
                                Persoonlijk contact met de klant is voor ons een belangrijk aspect. Samen bekijken we al uw wensen en overlopen we wat de mogelijkheden zijn. Wij komen graag eens bij u langs en bezorgen u dan een vrijblijvende offerte.
                            </p>
                        </div>
                    </div>
                    <div class="col col--md-4">
                        <div class="about-item about-item--illu">
                            <figure>
                                <img src="/assets/img/about/ear.gif" alt="Ear icon" class="about-item__fig">
                            </figure>
                            <h2 class="about-item__title about-item__title--sm">
                                Luisterend oor
                            </h2>
                            <p class="about-item__info">
                                Luisteren naar de klant is de basis van onze aanpak. Wat zijn je doelstellingen? Welke nieuwe onlinetrends kunnen uw zaak een boost geven?
                                Hierdoor worden jouw uitdagingen tastbaarder en daar gaan wij concreet mee aan de slag.
                            </p>
                        </div>
                    </div>
                    <div class="col col--md-4">
                        <div class="about-item about-item--code">
                            <figure>
                                <img src="/assets/img/about/money.gif" alt="Money icon" class="about-item__fig">
                            </figure>
                            <h2 class="about-item__title about-item__title--sm">
                                Waar voor je geld
                            </h2>
                            <p class="about-item__info">
                                Een persoonlijke aanpak is bij ons geen synoniem voor een onbetaalbare aanpak. Integendeel wij overlopen samen met u het kostenplaatje en zorgen er voor dat u enkel aan de juiste elementen geld spendeert. Zo geeft u niet meer uit dan nodig, echt waar voor je geld dus.
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Contact -->
            <section class="opportunities">
                <form action="//formspree.io/info@anatacreative.com" method="POST" id="form" class="form">
                    <header>
                        <h2 class="form__title">
                            <small class="form__title__sm">
                                Ondek uw
                            </small>
                            Opportuniteiten
                        </h2>
                        <p class="form__intro">
                            Een project in gedachten? Wil je uw huidige site verbeteren of heb je een nieuwe nodig? Laat het ons weten en ontdek wat wij voor jou kunnen betekenen.
                        </p>
                    </header>

                    <div class="form__content">
                        <div class="row row--full">
                            <div class="col col--md-6 form-control">
                                <label for="input-name" class="form-control__label">
                                    Naam *
                                </label>
                                <input type="text" id="input-name" name="name" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                            <div class="col col--md-6 form-control">
                                <label for="input-email" class="form-control__label">
                                    E-mail *
                                </label>
                                <input type="email" id="input-email" name="email" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                        </div>

                        <div class="form-control">
                            <label for="input-message" class="form-control__label">
                                Bericht *
                            </label>
                            <textarea name="message" id="input-message" class="js-form-input form-control__input form-control__input--textarea" required></textarea>
                            <span class="form-control__indicator"></span>
                        </div>

                        <input type="text" name="_gotcha" class="form__hidden" placeholder="don't fill in this field!">
                        <input type="hidden" name="_next" value="//anatacreative.com/thanks/" class="form__hidden">

                        <div class="form__error">
                            <img src="/assets/img/about/sad.svg" alt="Sad Man" class="form__error__icon">
                            Whoops, er is iets mis gegaan. Kan je het eens opnieuw proberen?
                        </div>

                        <div class="form__submit">
                            <button type="submit" id="form-submit" class="submit-btn">
                                <span class="submit-btn__txt">Verzenden</span>
                                <span class="submit-btn__txt-sending">Wordt verzonden...</span>
                            </button>
                        </div>
                    </div>
                    <div class="form__success">
                        <img src="/assets/img/about/happy.svg" alt="Happy Man" class="form__success__icon">
                        <h2 class="form__success__title">
                            Bedankt!
                        </h2>
                        <p class="form__success__txt">
                            Tof! We bekijken jou bericht zo snel mogelijk.
                        </p>
                    </div>
                </form>
            </section>

        </article>
    </main>
{% endblock %}
