{% extends "layout.nunjucks.html" %}

{% set lang = "nl" %}

{% block pagetitle %}Projecten - {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/header.jpg" alt="Projects" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title page-header__caption__title--shadow">
                    Projecten
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="projects">
            <p class="intro intro--center">
                Wij maken graag iets uniek.<br> Snuister alvast maar eens door ons werk.
            </p>

            {% include 'partials/projects/website-bieke.nunjucks.html' %}
            {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
            {% include 'partials/projects/ksa-tvlinderke.nunjucks.html' %}

            <h2 class="sub-title sub-title--lg">
                <span class="sub-title__text">Interne projecten</span>
            </h2>

            {% include 'partials/projects/signingup.nunjucks.html' %}
            {% include 'partials/projects/marsonia.nunjucks.html' %}
        </article>
    </main>
{% endblock %}


{% block footer %}

{% endblock %}
