{% extends "layout.nunjucks.html" %}


{% block header %}
    <!-- Header -->
    <header class="project__header">
        <figure>
            <img src="/dist/img/projects/bieke-website/project-header.jpg" alt="Welcome Fries" class="project__header__img">
            <figcaption>
                <h1 class="project__header__title">
                    Biekedejonghe.be
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('projects')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article>

            <!-- Intro -->
            <p class="project__intro">
                Together with Bieke, we created a website to boost her business. The goal is to lower the hurdle for potential clients to make an appointment and to boost work inquiries.
                Her wish was a simple, no-nonses website.
            </p>

            <!-- Pics -->
            <figure class="project__visuals">
                <img src="/dist/img/projects/bieke-website/visual-1.jpg" alt="" class="project__visuals__item">
                <img src="/dist/img/projects/bieke-website/visual-2.jpg" alt="" class="project__visuals__item">
                <img src="/dist/img/projects/bieke-website/visual-3.jpg" alt="" class="project__visuals__item">
                <img src="/dist/img/projects/bieke-website/visual-4.jpg" alt="" class="project__visuals__item">
            </figure>
        </article>
    </main>
{% endblock %}


{% block footer %}
<footer class="project__footer">
    <a href="/dist/work/welcome-fries/" class="project__footer__link">
        <h2 class="project__footer__title">
            <small class="project__footer__title__sm">View next project</small>
            Welcome Fries
        </h2>
    </a>
</footer>
{% endblock %}
