{% set lang = "nl" %}
{% set pageTitle = "Contact - " %}
{% set pageTeaser = "Hallo, laten we samen iets moois maken!" %}

{% extends "layout.nunjucks.html" %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/contact/" class="lang-nav__link">
            en
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/assets/img/contact/header.jpg" alt="Contact" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title page-header__caption__title--shadow">
                    Contact
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('contact','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="contact">
            <header>
                <h2 class="intro intro--center contact__intro">
                    Hallo, <br>
                    laten we samen iets moois maken!
                </h2>
            </header>

            <div class="row">
                <div class="col col--md-4">
                    <dl class="contact__info">
                        <dt class="contact__info__title">
                            Email
                        </dt>
                        <dd class="contact__info__details">
                            <a href="mailto:info@anatacreative.com" class="contact__info__details__link">
                                info@anatacreative.com
                            </a>
                        </dd>
                    </dl>
                </div>

                <div class="col col--md-4">
                    <dl class="contact__info">
                        <dt class="contact__info__title">
                            Facebook
                        </dt>
                        <dd class="contact__info__details">
                            <a href="https://www.facebook.com/anatacreative" class="contact__info__details__link">
                                Anata Creative
                            </a>
                        </dd>
                    </dl>
                </div>

                <div class="col col--md-4">
                    <dl class="contact__info">
                        <dt class="contact__info__title">
                            Twitter
                        </dt>
                        <dd class="contact__info__details">
                            <a href="https://twitter.com/AnataCreative" class="contact__info__details__link">
                                @AnataCreative
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Contact -->
            <section class="opportunities">
                <form action="//formspree.io/info@anatacreative.com" method="POST" id="form" class="form">
                    <header>
                        <h2 class="form__title">
                            <small class="form__title__sm">
                                Ondek uw
                            </small>
                            opportuniteiten
                        </h2>
                        <p class="form__intro">
                            Een project in gedachten? Wil je uw huidige site verbeteren of heb je een nieuwe nodig? Laat het ons weten en ontdek wat wij voor jou kunnen betekenen.
                        </p>
                    </header>

                    <div class="form__content">
                        <div class="row row--full">
                            <div class="col col--md-6 form-control">
                                <label for="input-name" class="form-control__label">
                                    Naam *
                                </label>
                                <input type="text" id="input-name" name="name" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                            <div class="col col--md-6 form-control">
                                <label for="input-email" class="form-control__label">
                                    E-mail *
                                </label>
                                <input type="email" id="input-email" name="email" class="js-form-input form-control__input" required>
                                <span class="form-control__indicator"></span>
                            </div>
                        </div>

                        <div class="form-control">
                            <label for="input-message" class="form-control__label">
                                Bericht *
                            </label>
                            <textarea name="message" id="input-message" class="js-form-input form-control__input form-control__input--textarea" required></textarea>
                            <span class="form-control__indicator"></span>
                        </div>

                        <input type="text" name="_gotcha" class="form__hidden" placeholder="don't fill in this field!">
                        <input type="hidden" name="_next" value="//anatacreative.com/thanks/" class="form__hidden">

                        <div class="form__error">
                            <img src="/assets/img/about/sad.svg" alt="Sad Man" class="form__error__icon">
                            Whoops, er is iets mis gegaan. Kan je het eens opnieuw proberen?
                        </div>

                        <div class="form__submit">
                            <button type="submit" id="form-submit" class="submit-btn">
                                <span class="submit-btn__txt">Verzenden</span>
                                <span class="submit-btn__txt-sending">Wordt verzonden...</span>
                            </button>
                        </div>
                    </div>
                    <div class="form__success">
                        <img src="/assets/img/about/happy.svg" alt="Happy Man" class="form__success__icon">
                        <h2 class="form__success__title">
                            Bedankt!
                        </h2>
                        <p class="form__success__txt">
                            Tof! We bekijken jou bericht zo snel mogelijk.
                        </p>
                    </div>
                </form>
            </section>

        </article>
    </main>
{% endblock %}
