{% extends "layout.nunjucks.html" %}

{% set lang = "nl" %}

{% block pagetitle %}Welkom Fries - Projects - {% endblock %}
{% block pageteaser %}Wat was het een mooie dag toen Fries ons kwam vergezellen in deze grote wereld. Samen met de trotse ouders zijn we op zoek gegaan naar een passende aankondiging om hem te verwelkomen.{% endblock %}

{% block header %}
    <!-- Lang nav -->
    <nav class="lang-nav">
        <a href="/projects/welcome-fries/" class="lang-nav__link">
            en
        </a>
    </nav>

    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/geboorte-fries/project-header.jpg" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title">
                    Welkom Fries
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                Wat was het een mooie dag toen Fries ons kwam vergezellen in deze grote wereld. Samen met de trotse ouders zijn we op zoek gegaan naar een passende aankondiging om hem te verwelkomen.
            </p>

            <!-- Pics -->
            <figure class="project__visuals">
                <img src="/dist/img/projects/geboorte-fries/visual-1.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="project__visuals__item">
            </figure>

            <p class="project__text">
                Anata Creative stond zowel in voor het ontwerp van het geboortekaartje en de bijhorende enveloppe, als voor de bijpassende verpakking van het doopsuiker.
            </p>

            <figure class="project__visuals">
                <img src="/dist/img/projects/geboorte-fries/visual-2.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-3.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="js-lazyload-img project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-4.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="js-lazyload-img project__visuals__item">
            </figure>

            <p class="project__text">
                Huwelijksuitnodigingen, geboortekaartjes, of kaartjes voor een verjaardag, communie of lentefeest,… voor eender welke gebeurtenis kan je bij ons terecht.
            </p>

            <h2 class="sub-title">
                <span class="sub-title__text">
                    In actie
                </span>
            </h2>

            <figure class="project__visuals project__visuals--last">
                <img src="/dist/img/projects/geboorte-fries/visual-11.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="js-lazyload-img project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-12.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="js-lazyload-img project__visuals__item">
                <img src="/dist/img/projects/geboorte-fries/visual-13.jpg" width="2000" height="1328" alt="Welcome Fries - Anata Creative" title="Welcome Fries - Anata Creative" class="js-lazyload-img project__visuals__item">
            </figure>
        </article>
    </main>
{% endblock %}


{% block footer %}
    <footer class="project__footer">
        <a href="/nl/projecten/website-bieke-dejonghe/" class="project__footer__link">
            <h2 class="project__footer__title">
                <small class="project__footer__title__sm">Ontdek het volgende project</small>
                Biekedejonghe.be
            </h2>
        </a>
    </footer>
{% endblock %}
