{% set lang = "en" %}
{% set pageTitle = "Playground - " %}
{% set pageTeaser = "Anata Creative's playground" %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('playground','en')}}
{% endblock %}


{% block content %}
    <main role="main">
        <header>
            <h1 class="page-header">
                Play
            </h1>
        </header>
        <article class="contact">
            <!-- Intro -->
            <header>
                <h2 class="intro contact__intro">
                    Want to see more of our work? <br> Go ahead and discover our playground or check out our latest shots on <a href="https://dribbble.com/AnataCreative" target="_blank" class="intro__link intro__link--dribbble">Dribbble</a>.
                </h2>
            </header>

            <div class="container playground">
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-doll.jpg" alt="doll" class="playground__item__img">
                </figure>
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-son.jpg" alt="Son" class="playground__item__img">
                </figure>
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-alien.jpg" alt="Alien" class="playground__item__img">
                </figure>
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-geert.jpg" alt="Geert" class="playground__item__img">
                </figure>
                <a href="http://codepen.io/IbeVanmeenen/full/mPQdNj/" target="_blank" class="playground__item playground__item--link">
                    Drop animation
                    <span class="playground__item__tags">Code - Codepen</span>
                </a>
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-anata-cards.jpg" alt="Anata Cards" class="playground__item__img">
                </figure>
                <a href="http://codepen.io/IbeVanmeenen/full/gpBmMQ/" target="_blank" class="playground__item playground__item--link">
                    Handwriting with Javascript and SVG
                    <span class="playground__item__tags">Code - Codepen</span>
                </a>
                <figure class="playground__item">
                    <img src="/assets/img/playground/playground-shuggah-dance.jpg" alt="shuggah-dance" class="playground__item__img">
                </figure>

                <!-- <figure class="playground__item">
                    <img src="/assets/img/playground/nerf-fight.gif" alt="nerf-fight" class="playground__item__img">
                </figure>
                <figure class="playground__item">
                    <img src="/assets/img/playground/helmet.gif" alt="helmet" class="playground__item__img">
                </figure> -->
            </div>
        </article>
    </main>
{% endblock %}
