<section class="work-item work-item--geboorte-fries">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                Welcome Fries
            </h2>
        </header>

        <p class="work-item__intro">
            What a beautifull day it was, when Fries came to the big world. Together with the parents, we crafed the birth announcement to notify the world.
        </p>

        <nav>
            <a href="/projects/welcome-fries/" class="work-item__link">
                View full case
            </a>
        </nav>

        <figure class="work-item__visual">
            <img src="/dist/img/projects/geboorte-fries/main-visual.svg" alt="Welcome Fries - Anata Creative" class="work-item__visual__img">
        </figure>
    </div>
</section>
