<section class="work-item work-item--ksa-tvlinderke">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                KSA &lsquo;t Vlinderke
            </h2>
        </header>

        <p class="work-item__intro">
            {% if lang == 'nl' %}
                We hebben het geluk gehad om lang deel uit te maken van deze prachtige jeugdbeweging. Deze verdiende dan vanzelfsprekend, een mooie en vrolijke website!
            {% else %}
                Being a part of this youth movement for many years, we wanted to make a beautiful and happy website for these magnificent boys and girls.
            {% endif %}
        </p>

        <nav>
            <a href="{% if lang == 'nl' %}/nl/projecten/ksa-t-vlinderke/{% else %}/projects/ksa-t-vlinderke/{% endif %}" class="js-internal-link work-item__link">
                {% if lang == 'nl' %}
                    Meer info
                {% else %}
                    View full case
                {% endif %}
            </a>
            <a href="http://ksatvlinderke.be" class="work-item__link" target="_blank">
                {% if lang == 'nl' %}
                    Bekijk de website
                {% else %}
                    View website
                {% endif %}
            </a>
        </nav>

        <figure class="work-item__visual">
            <img src="/assets/img/projects/ksa-tvlinderke/main-visual.png" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="work-item__visual__img">
        </figure>
    </div>
</section>
