<section class="work-item work-item--website-bieke">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                KSA &lsquo;t Vlinderke
            </h2>
        </header>

        <p class="work-item__intro">
            Being a part of this youth movement for many years, we wanted to make a beautiful and happy website for these magnificent boys and girls.
        </p>

        <nav>
            <a href="/projects/ksa-t-vlinderke/" class="work-item__link">
                View full case
            </a>
            <a href="http://ksatvlinderke.be" class="work-item__link" target="_blank">
                View website
            </a>
        </nav>

        <figure class="work-item__visual">
            <img src="/dist/img/projects/bieke-website/main-visual.png" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" class="work-item__visual__img">
        </figure>
    </div>
</section>
