<section class="work-item work-item--marsonia">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                Marsonia
            </h2>
        </header>

        <p class="work-item__intro">
            To experiment with browser game development, we are creating a simple shooter. This project is still under heavy development, and will be released soon!
        </p>

        <figure class="work-item__visual">
            <img src="/dist/img/projects/marsonia/alien.svg" alt="Marsonia Alien - Anata Creative" title="Marsonia Alien - Anata Creative" class="work-item__visual__img">
        </figure>
    </div>
</section>
