<section class="work-item work-item--signing-up">
    <div class="container">
        <header>
            <h2 class="work-item__title">
                Signing Up
            </h2>
        </header>

        <p class="work-item__intro">
            Signing Up will be a crash course in sign language. It will be focused on VGT or Flemish Sign Language. This project is still under development, but be sure to take a look at the teaser-site and subscribe for more news.
        </p>

        <nav>
            <a href="https://signingup.be/" class="work-item__link" target="_blank">
                View website
            </a>
        </nav>

        <figure class="work-item__visual">
            <img src="/dist/img/projects/signing-up/lucy.svg" alt="Lucy" class="work-item__visual__img">
        </figure>
    </div>
</section>
