{% macro nav(activePage='home',activeLang='en') %}
    <div class="main-nav-container">
        <nav role="navigation" class="main-nav">
            <a href="{% if activeLang == 'nl' %}/{% else %}/en/{% endif %}" class="js-main-nav-link js-nav-link main-nav__home-link" data-is-home="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 400.48" class="main-nav__home-link__img">
                    <title>Anata Creative</title>
                    <g transform="matrix(1.0002, 0, 0, 1.0002, 0, -0.000051)">
                        <circle fill="#231F20" cx="450.1" cy="50.2" r="49.8"/>
                        <path fill="#231F20" d="M0,200.2c0,110.5,89.6,200.2,200.2,200.2c71.5,0,134.3-37.5,169.7-94l36.3,67.3c8.4,15.7,24.9,26.4,43.9,26.4&#10;&#9;&#9;c27.5,0,49.8-22.3,49.8-49.8c0-8.5-2.1-16.5-5.9-23.5l-114-214.2C347.6,45.9,279.2,0,200.2,0C89.6,0,0,89.6,0,200.2z M97.8,200.2&#10;&#9;&#9;c0-55.8,45.2-101,101-101s101,45.2,101,101c0,15.6-3.5,30.4-9.9,43.6c-0.3,0.6-0.6,1.2-0.9,1.8c-16.6,33-50.8,55.6-90.3,55.6&#10;&#9;&#9;C143,301.2,97.8,255.9,97.8,200.2z"/>
                    </g>
                </svg>
            </a>
            <button type="button" id="main-nav-mobile-toggle" class="main-nav__mobile-toggle">
                <span class="main-nav__mobile-toggle__open">&#9776;</span>
                <span class="main-nav__mobile-toggle__close">&#x2716;</span>
                Menu
            </button>
            <div id="main-nav-mobile-container" class="main-nav__mobile-container">
                <a href="{% if activeLang == 'nl' %}/{% else %}/en/{% endif %}" class="js-main-nav-link js-nav-link main-nav__item main-nav__item--home{%if activePage == 'home' %} main-nav__item--active{% endif %}">
                    Home
                </a>
                <a href="{% if activeLang == 'nl' %}/projecten/{% else %}/en/projects/{% endif %}" class="js-main-nav-link js-nav-link main-nav__item{%if activePage == 'projects' %} main-nav__item--active{% endif %}">
                    {% if activeLang == 'nl' %}
                        Projecten
                    {% else %}
                        Projects
                    {% endif %}
                </a>
                <a href="{% if activeLang == 'nl' %}/over-ons/{% else %}/en/about/{% endif %}" class="js-main-nav-link js-nav-link main-nav__item{%if activePage == 'about' %} main-nav__item--active{% endif %}">
                    {% if activeLang == 'nl' %}
                        Over ons
                    {% else %}
                        About
                    {% endif %}
                </a>
                <a href="{% if activeLang == 'nl' %}/contact/{% else %}/en/contact/{% endif %}" class="js-main-nav-link js-nav-link main-nav__item{%if activePage == 'contact' %} main-nav__item--active{% endif %}">
                    Contact
                </a>
                <a href="{% if activeLang == 'nl' %}/en/{% else %}/{% endif %}" id="lang-switch" class="main-nav__item main-nav__item--lang">
                    {% if activeLang == 'nl' %}
                        EN
                    {% else %}
                        NL
                    {% endif %}
                </a>
            </div>
        </nav>
    </div>
{% endmacro %}
