{% extends "layout.nunjucks.html" %}


{% block header %}
    <!-- Header -->
    <header class="page-header">
        <figure>
            <img src="/dist/img/projects/ksa-tvlinderke/project-header.jpg" alt="KSA 't Vlinderke - Anata Creative" title="KSA 't Vlinderke - Anata Creative" id="scroll-header-img" class="page-header__img">
            <figcaption id="scroll-header-caption" class="page-header__caption">
                <h1 class="page-header__caption__title">
                    KSA 't Vlinderke
                </h1>
            </figcaption>
        </figure>
    </header>

    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as nav %}
    {{nav.active('projects')}}
{% endblock %}


{% block content %}
    <main role="main">
        <article class="project">

            <!-- Intro -->
            <p class="project__intro">
                A new website for a dynamic yought-movement.
            </p>

            <!-- Pics -->
            <figure class="project__visuals">
                <img src="/dist/img/projects/ksa-tvlinderke/visual-1.jpg" width="1920" height="1080" alt="" class="project__visuals__item">
            </figure>
        </article>
    </main>
{% endblock %}


{% block footer %}
    <footer class="project__footer">
        <a href="/projects/website-bieke-dejonghe/" class="project__footer__link">
            <h2 class="project__footer__title">
                <small class="project__footer__title__sm">View next project</small>
                Biekedejonghe.be
            </h2>
        </a>
    </footer>
{% endblock %}
