/* ==========================================================================
   Form
   ========================================================================== */


/* General
   ========================================================================== */
.form {
    background: $white;

    transition: opacity .3s ease;

    @include media-breakpoint-up(md) {
        padding: 0 4em 4em;

        &:before {
            content: '';

            z-index: -1;
            position: absolute;
            top: 20%;
            left: 0;

            width: 100%;
            height: 80%;
            box-shadow: 0 30px 60px rgba(0, 0, 0, .1);
        }
    }
}

.form--submitting {
    opacity: .4;
}

.form--success {

    .form__content {
        display: none;
    }
    .form__success {
        display: block;
    }
}

.form--error {

    .form__error {
        display: block;
    }
}


/* Content
   ========================================================================== */
.form__content {
    display: block;
}


/* Success
   ========================================================================== */
.form__success {
    display: none;

    text-align: center;
}

.form__success__icon {
    width: rem-calc(20);
}

.form__success__title {
    margin: 0 0 1rem;
}


/* Error
   ========================================================================== */
.form__error {
    display: none;
    margin: 0 0 2rem;
    padding: 0 1em;

    color: #ef6a56;
    line-height: rem-calc(20);
    font-weight: bold;
    text-align: left;
}

.form__error__icon {
    display: inline;
    margin: 0 rem-calc(5) 0;
    height: rem-calc(20);
    vertical-align: middle;
}



/* Title
   ========================================================================== */
.form__title {
    margin: 0 0 rem-calc(25);

    font-size: rem-calc(40);
    line-height: 1.2;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin: 0 0 rem-calc(45);

        font-size: rem-calc(60);
    }
}

.form__title__sm {
    display: block;

    font-size: rem-calc(12);
    line-height: 1.2;
    color: #d4d4d4;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(14);
    }
}


/* Intro
   ========================================================================== */
.form__intro {
    margin: 0 0 rem-calc(40);

    font-size: rem-calc(18);
    text-align: center;

    @include media-breakpoint-up(md) {
        margin: 0 0 rem-calc(70);

        font-size: rem-calc(22);
    }
}


/* Submit
   ========================================================================== */
.form__submit {
    padding: 0 1em;
    margin: 0 0 4rem 0;

    text-align: right;
}

.submit-btn {
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
    border: 1px solid $black;

    vertical-align: middle;
    font-size: rem-calc(14);
    line-height: 1;
    background: $black;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .2em;

    transition: background .3s ease, border-color .3s ease, color .3s ease;

    &:active, &:focus {
        outline: 0;
    }

    &:hover {
        border-color: #A1E7FF;
        background: #A1E7FF;
    }

    .submit-btn__txt {
        display: block;
    }
    .submit-btn__txt-sending {
        display: none;
    }
}

.submit-btn--loading {

    &, &:hover {
        background: $white;
        border-color: $black;
        color: $black;
    }

    .submit-btn__txt {
        display: none;
    }
    .submit-btn__txt-sending {
        display: block;
    }
}


/* Hidden
   ========================================================================== */
.form__hidden {
    display: none;
}
