{% set lang = "nl" %}
{% set pageTitle = "Projecten - " %}
{% set pageTeaser = "Wij maken graag iets uniek. Snuister alvast maar eens door ons werk." %}

{% extends "layout.nunjucks.html" %}

{% block nav %}
    <!-- Nav -->
    {% import 'macros/nav.nunjucks.html' as navigation %}
    {{navigation.nav('projects','nl')}}
{% endblock %}


{% block content %}
    <main role="main">
        <header>
            <h1 class="page-header">
                Projecten
            </h1>
        </header>
        <article class="projects">
            <p class="intro intro--center">
                Wij maken graag iets uniek.<br> Snuister alvast maar eens door ons werk.
            </p>

            {% include 'partials/projects/website-bieke.nunjucks.html' %}
            {% include 'partials/projects/geboorte-fries.nunjucks.html' %}
            {% include 'partials/projects/ksa-tvlinderke.nunjucks.html' %}

            <h2 class="sub-title sub-title--lg">
                <span class="sub-title__text">Interne projecten</span>
            </h2>

            {% include 'partials/projects/signingup.nunjucks.html' %}
            {% include 'partials/projects/marsonia.nunjucks.html' %}
        </article>
    </main>
{% endblock %}
